# La carpeta "ENAHO" existirá en el repositorio, pero que todo su contenido sea ignorado
/01. Evolución de la pobreza monetaria 2008-2019/sumaria-2004-2025.dta
/01. Evolución de la pobreza monetaria 2008-2019/sumaria-2008-2019.dta
/01. Evolución de la pobreza monetaria 2008-2019/sumaria-2008-2019-v1.dta
/01. Evolución de la pobreza monetaria 2008-2019/sumaria-2008-2019-v2.dta
